<html>
<body>

<h2>Booking Form</h2>
<form>
  <label for="fname">Source:</label><br>
  <input type="text" id="fname" name="fname" value=""><br>
  <label for="lname">Destination</label><br>
  <input type="text" id="lname" name="lname" value=""><br>
 <label for="lname">amount</label><br>
  <input type="number" id="lname" name="lname" value=""><br>
  <label for="lname">time</label><br>
  <input type="text" id="lname" name="lname" value=""><br><br><br>
  <button><a class="info" href="C:\Users\RINOSNI\railsRuby\app\views\page\about.html.erb">Click!!!</a>

</form>
